.required::after {
  content: " *";
  color: var(--required-font-color);
}

.optional::after {
  content: " (Optional)";
  font-size: .8rem;
  font-style: italic;
  color: var(--header-footer-bg-color);
}


/* FORM STYLING */
.wf1 {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: start;
  color: var(--paragraphs-font-color);
  /* margin: 0; */
  padding: 1rem;
  border: 1px solid var(--paragraphs-font-color);
  border-radius: 7px;
  background-color: var(--menu-bg-color);
}

.wf1 label {
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 1rem 0 0 0;
}

textarea {
  width: 100%;
  max-width: 400px;
  min-height: 5lh;
  resize: vertical;
  border: solid 1px var(--footer-bg-color);
  font-family: "Roboto", sans-serif;
  padding: .75rem;
  font-size: 1rem;
}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select {
  font-size: 1rem;
  display: block;
  border: solid 1px var(--footer-bg-color);
  padding: .75rem;
  /* color: var(--header-footer-bg-color); */
  width: 100%;
  max-width: 400px;
  appearance: none;
}

.wf1 input[type="submit"] {
  display: block;
  border: none;
  background-image: linear-gradient(var(--h4-bg-color), var(--footer-bg-color));
  color: var(--h4-font-color);
  font-size: 1rem;
  border-radius: 7px;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
  cursor: pointer;
}

.wf1 input[type="submit"]:hover {
  box-shadow: 1px 1px 4px var(--main-font-color);
}