@media only screen and (min-width: 40em) {
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
  }

  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 3vh;
    align-items: start;
  }

  .ficha h3 {
    font-size: 1.6vw;
  }

  .ficha p {
    font-size: 1.2vw;
  }

  main h2 {
    font-size: 1.8vw;
  }

}