@media only screen and (min-width: 650px) {
  .container {
    overflow: hidden;
  }

  .hero {
    width: 100%;
    height: 100%;
  }

  .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .card {
    background-color: var(--card-bg-color);
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 3px;
  }

  .card h2 {
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: var(--h2-bg-tr-color);
    color: var(--h2-font-color);
    border-radius: 3px;
    border: 1px var(--main-bg) solid;
    font-size: large;
    width: 75%;
    padding: 10px 20px;
  }

  .card div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 55px 10px 10px 10px;
    padding: 15px;
  }

  .left-item {
    text-align: right;
    font-weight: bold;
  }

  .data {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .weather {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .weather img {
    display: none;
    height: 100px;
    width: 100px;
  }

  .after::after {
    content: " 🌤";
  }
}