@media only screen and (min-width: 40em) {
  /* .hero {
    display: block;
    /* border: var(--main-font-color) 1px solid; */
  /* width: 800px; */

  /* height: auto; */
  /* object-fit: cover;
 } */

  .container {
    /* height: 463px; */
    overflow: hidden;
    /* width: 800px; */
    /* margin: 10px; */


  }

  .hero {
    width: 100%;
    height: 100%;
  }


  .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* object-fit: cover; */
  }

  .card {
    /* border: var(--main-font-color) 1px solid; */

    background-color: var(--card-bg-color);
    position: relative;
    /* overflow: hidden; */
    width: 300px;
    width: 300px;
    height: 200px;
  }

  .card h2 {
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: var(--h2-bg-tr-color);
    color: var(--h2-font-color);
    border-radius: 5px;
    font-size: large;
    width: 75%;
    padding: 10px 20px;
  }

  .data {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 10px;
    padding: 15px;
  }

  .weather {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}