/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.  

In most WDD courses there is a requirement to use a separate file. This part would go into a separate CSS file. 
*/

:root {
  --header-footer-bg-color: #1d4d72;
  --header-footer-font-color: #fff;
  --header-footer-font-alt-color: #ffdc65;
  --menu-bg-color: #333333;
  --menu-font-color: #fff;
  --navigation-font-color: #fff;
  --navigation-hover-color: #f7d050;
  --navigation-hover-font-color: #000;
  --main-bg: #fff;
  --main-font-color: #000;
  --card-bg-title: #1d4d72;
  --card-font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  place-items: center;
}

img {
  width: 100%;
  height: auto;
  margin: 0.5rem;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
}

figure {
  display: block;
}

figcaption {
  text-align: center;
}

.hover:hover {
  box-shadow: 0 0 50px #333;
}

@media only screen and (min-width: 40em) {
  /* header h1 { */
  /* display: none; */
  /* font-size: 2rem; */
  /* background-color: #7465ff; */
  /* } */

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* change state in small view */
  }

  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
  }

}

footer {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-font-color);
  font-size: 1.5rem;
  height: auto;
  text-align: center;
}