* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  place-items: center;
}

img {
  width: 100%;
  height: auto;
  margin: 0.5rem;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
}

figcaption {
  text-align: center;
}

.hover:hover {
  box-shadow: 0 0 50px #333;
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-font-color);
  font-size: 1.5rem;
  height: auto;
  text-align: center;
}


header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-font-color);
  font-size: 1.5rem;
  height: auto;
}

header h1 {
  display: block;
  flex: 1 1 auto;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: left;
  width: max-content;
  white-space: nowrap;
}

/* Mobile View ***************/
#menu {
  display: block;
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-font-color);
  height: auto;
  width: auto;
  text-decoration: none;
}

#menu::before {
  display: block;
  content: "≡";
}

nav {
  display: flex;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  display: block;
  background-color: var(--menu-bg-color);
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  height: auto;
  padding: 0.65rem 1.2rem;
  color: var(--navigation-font-color);
  transition: 0.5s;
}

.navigation a:hover,
.navigation a:active {
  text-decoration: underline;
  text-decoration-color: var(--aside-font-color);
  background-color: var(--navigation-hover-color);
  color: var(--navigation-hover-font-color);
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

@media only screen and (min-width: 40em) {
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
  }

  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
  }

}